@model Personaje

<h1>Detalles</h1>

<h2>@Model.IdPersonaje</h2>
<h2>@Model.Nombre</h2>
<img src="@Model.Imagen"
     style="width:200px;height:200px" />

<p>
    <a asp-asp-controller="Personajes"
    asp-action="Index">
        Volver
    </a>
</p>
